html,
body {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  position: ;
}

.pin-top {
  position: relative;
}

.block {
  height: 100%;
}

.slider .indicators .indicator-item.active {
  background-color: #d50000;
}

.slider .indicators{
  bottom: 50px;
  z-index: 2;
}

.slider{
  margin-bottom: -25px;
}

nav #logouno,
#ext {
  font-weight: thin;
  font-size: 1.3rem;
  color: white;
}

.dropdown-content li > a, .dropdown-content li > span{
  color: white;
}

#logodos{
  font-size: 1.5rem;
  margin-left: 15px;
}

#lin:hover{
  background-color: #d32f2f93;
}

#lin{
  font-size: 0.8rem;
}

#marghea {
  margin-left: 10px;
}

#login {
  color: #d50000;
}

.parallax-container {
  height: 500px;

}